/* Footer */

footer {
	position: fixed;
	bottom: 0.5rem;
	width: 100%;
	@include Flex(row, center);
	justify-content: space-between;
	text-align: center;
	a {
		color: $sec-c;
	}
	.copy {
		color: $prim-c;
		padding-left: 2rem;
		font-size: 1.5rem;
	}
	.social {
		padding-right: 2rem;
		a {
			padding: 0 0.2rem;
			&:hover {
				@include hover;
			}
			&:first-child:hover {
				color: $inst-c;
			}
			&:nth-child(2):hover {
				color: $face-c;
			}
			&:nth-child(3):hover {
				color: $twit-c;
			}
			&:last-child:hover {
				color: $yout-c;
			}
		}
	}
}
